#img-container{
    background-image:linear-gradient(rgba(255, 255, 255, 0.428), rgba(8, 8, 8, 0.497)), 
    url("../assets/img/portada1.jpeg");
    width: 100%;
    height: 50%;
    background-size:contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}
.img-fluid{
    min-width: 250px;
    max-height: 250px;
    max-width: 500px;
    max-height: 500px;
    object-fit:cover;
    border-radius: 10px;
}
.col-about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.about-us{
   margin-top: 50px;
   margin-bottom: 50px;
   padding: 20px;
}
h1{
    font-family: 'Nunito', sans-serif;
    color:black;
    font-size: 3.5rem;    
}
.text-about{
    font-family: 'Montserrat', sans-serif;  
}
.card-img-top{
    background-color: white;
    border-radius: 150px;
    width: 150px;
    height: 150px;
    margin: 30px;
    border: 4px solid #a62447;
}
.social-icon{
    align-content: center;
    text-align: center; 
} 
.card{
    background-image: linear-gradient(rgba(10, 4, 5, 0.154), rgba(255, 255, 255, 0.297)),
    url("../assets/img/portada2.jpeg");
    border-radius: 0px 0px 40px 40px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 5px 0px gray;
    background-size: contain;
    border-right: #f2f2f2;
    border-left: #f2f2f2;
    border-bottom: #f2f2f2;
    }
.card-body{
    background-color: #f2f2f2;
    border-radius: 0px 0px 40px 40px;
    text-align: center;
    padding: 40px;   
    border-top: 4px outset #F2A71B;
    width: 100%;
}
.card-img{
    display: flex;
    justify-content:center;    
    width: 100%;
}
.card-text{
    font-family:"Montserrat";
    text-align:start;
    padding: 10px;
    width: 100%;
    height: 200px;
    overflow-y:scroll;
    Overflow: overlay;
    margin-bottom: 20px;
    font-size: 1rem; 
}
.card-title { 
    font-size: 1.2rem;
}
.social{
    margin:20px;
}
 h6{
    font-family: "Montserrat";
    margin-top: 20px;
    margin-bottom: 20px;
 }
 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
 }

