#img-container{
    background-image:url("../assets/img/about-us.jpg");
    width: 100%;
    height: 50%;
    background-size: cover;   
}
    
#about-company{
display: flex;
width: 1440px;
padding: 112px 64px;
align-items: center;
gap: 80px;
}

.card-img-top{
    background-color: white;
    border-radius: 150px;
    width: 200px;
    height: 200px;
    margin: 30px;
    border: 2px solid #a62447;
    
}

.social-icon{
    align-content: center;
    text-align: center;    
} 

.card{
    background-image: linear-gradient(rgba(10, 4, 5, 0.345), rgba(255, 255, 255, 0.784)),
    url("../assets/img/devs_2.jpg");
    background-size:contain;
    border-radius: 0px 0px 40px 40px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 5px 0px gray;
  
}

.card-body{
    background-color: #f2f2f2;
    border-radius: 0px 0px 40px 40px;
    text-align: center;
  
   
}

.social{
    margin:20px;
}
.card-img{
    display: flex;
    justify-content:center;    
}

.card-text{
    text-align:start;
    padding: 10px;
}


