#img-container {
    background-image: linear-gradient(
        rgba(104, 146, 223, 0.241),
        rgba(8, 8, 8, 0.864)
      ),
      url("../assets/img/admin-1.webp");
    width: 100%;
    min-height: 20rem;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #titulo-banner{
    font-family: "Nunito", sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 3.5rem;
    animation: tracking-in-contract 0.7s linear both;
  }
  @keyframes tracking-in-contract{0%{letter-spacing:.6em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}
.text-about {
  font-family: "Montserrat", sans-serif;
}

  h1,h2,h3 {
    font-family: "Nunito", sans-serif;
}

p {
    font-family: var(--monse-font);
}

.container-contact {
    background-color: white!important;
}

.tela {
    border-radius: 15px;
    padding: 1rem 0;
}

.tela-formulario {
    border-radius: 0 15px 15px 0;
}

.bordado {
    margin: 0 1rem;
    border-radius: 15px;
    border-style: dashed;
    border-width: 3px;
}

.bordado-formulario {
    border-color: white;
}

.tela-formulario,
.bordado-formulario {
    background-color: var(--azul-shuncos);
}

.tela-redes,
.bordado-redes {
    background-color: var(--blanco-shuncos);
}
.tela-redes{
    box-shadow: 5px 10px 5px 0px gray;
}
.redes {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#submit-contact {
    width: 100%;
}

@media (min-width: 768px){
    #submit-contact {
        width: max-content;
    }
}

.img-soporte {
    background-color: var(--rosa-shuncos);
    border-radius: 15px 0 0 15px;
}

@media (min-width: 768px){
    .img-soporte img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

#formulario-contacto {
    color: white;
}

.contacto {
    -webkit-box-shadow: 3px 4px 25px 0px rgba(107,107,107,0.75);
    -moz-box-shadow: 3px 4px 25px 0px rgba(107,107,107,0.75);
    box-shadow: 3px 4px 25px 0px rgba(107,107,107,0.75);

    border-radius: 10px;
}

a {
    color: black;
    text-decoration: none;
}


.margin-1rem {
    margin: 1rem
}

#i-insta, #i-whatsapp, #i-facebook {
    height: 50px;
    width: 50px;
}
