@import url(mainContainerStyles.css);

.redes {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#submit-contact {
    width: 100%;
}

@media (min-width: 768px){
    #submit-contact {
        width: max-content;
    }
}

.contacto {
    -webkit-box-shadow: 3px 4px 25px 0px rgba(107,107,107,0.75);
    -moz-box-shadow: 3px 4px 25px 0px rgba(107,107,107,0.75);
    box-shadow: 3px 4px 25px 0px rgba(107,107,107,0.75);

    border-radius: 10px;
}

a {
    color: black;
    text-decoration: none;
}


.margin-1rem {
    margin: 1rem
}

#i-insta, #i-whatsapp, #i-facebook {
    height: 50px;
    width: 50px;
}

