.admin-products {
    margin-top: 2rem;
}

.table-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
}

.nino {
    display: none;
}

.modal-header {
    background-color: black;
    color: var(--blanco-shuncos);
}

.modal-footer {
    background-color: black;
    color: var(--blanco-shuncos);
}

.custom-tooltip-1 {
    --bs-tooltip-bg: green;
    --bs-tooltip-opacity: 1;
}

.custom-tooltip-2 {
    --bs-tooltip-bg: blue;
    --bs-tooltip-opacity: 1;
}

.custom-tooltip-3 {
    --bs-tooltip-bg: red;
    --bs-tooltip-opacity: 1;
}

.icon-img {
    cursor: pointer;
    color: green;
}

.icon-edit {
    cursor: pointer;
    color: blue;
}

.icon-delete {
    cursor: pointer;
    color: red;
}

@media (max-width: 991.98px) { 
    table {
        width: 180vw!important;
    }
}

.text-alert {
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}

.error-talla-e {
    display: none;
}

.edit-imagen {
    display: none;
}
