@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
#banner1 {
    background-image: linear-gradient(rgba(104, 146, 223, 0.241), rgba(8, 8, 8, 0.864)), url("../assets/img/fondo-muertos-2.jpeg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    
}

#banner2 {
    background-image: linear-gradient(rgba(222, 121, 228, 0.241), rgba(232, 143, 143, 0.579)), url("../assets/img/bannerrosa1.jpeg");
    background-size: cover;
    height: 100vh;
}

#banner3 {
    background-image: linear-gradient(rgba(104, 146, 223, 0.241), rgba(8, 8, 8, 0.864)), url("../assets/img/bannerrosa3.jpeg");
    background-size: cover;
    height: 100vh;
}

.img-model {
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
}

.texto {
    display: grid;
    place-content: center;
    color: white;
    place-items: center;
    text-align: justify;
    padding: 50px;
}

.modelo{
    max-width: 100%; 
}

#modelo-1 {
    background-image: url("../assets/img/muertos3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (min-width: 280px) and (max-width: 766px) {
    .row.align-items-center {
      flex-direction: column;
    }
    .col-text {
      order: 1; 
      width: 100vh;
      height: 50vh;
      padding: 10vh;
      text-align: center
    }
    .img-model {
        order: 2; 
        width: 100vh;
        height: 50vh;
        background-size: contain;
      }

   
}

