@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

body{
    background-color: var(--blanco-shuncos);
    margin-right: 0%;
    margin-left: 0%;
}
.bg-img-1 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.263), rgba(8, 8, 8, 0.758)),url(../assets/img/bannerazulmuertos2.jpeg);
    max-height: 100%;
    color: black;


}

.bg-img-2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.263), rgba(8, 8, 8, 0.758)), url(..//assets/img/bannerrosa3.jpeg);
    max-height:100%;
    color: black;

}

.bg-img-3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.263), rgba(8, 8, 8, 0.758)), url(..//assets/img/bannerverde2.jpeg);
    max-height:100%;
    color: black;
}

.carrousel-img {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.terminos{
transform: rotateY(90deg);
}



/*estilos para computadoras o pantallas mas grandes*/
@media (min-width: 769px){

}

/*estilos para tabletas*/
@media (min-width: 481px) and (max-width: 768px){

}

@media (min-width: 769px){

}



@media (min-width: 481px) and (max-width: 768px) and (orientation:portrait){

}

/*estilos para celular de forma vertical*/
@media (min-width: 320px) and (max-width: 480px) and (orientation:portrait){

}