:root {
    --rosa-shuncos: #E4007C;
    --verde-shuncos:#56A35B;
    --amarillo-shuncos: #F7CC25;
    --beige-shuncos: #FBEBDA;
    --azul-shuncos: #2173b4;
    --blanco-shuncos:#F2F2F2;
    --monse-font:'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

.ajuste-rem {
    font-size: 62.5%;
}

#main-container{
    min-height: calc(100vh - 50.6px - 49.6px);
    /* overflow-y: scroll; */
    overflow-x: hidden;
    background-color: var(--blanco-shuncos);
}

.monse-font {
    font-family: var(--monse-font)!important;
}

@media (max-width: 991.98px) { 
    #main-container{
        min-height: calc(100vh - 40px - 49.6px);
    }
}

@media (max-width: 767.98px) { 
    #main-container{
        min-height: calc(100vh - 40px - 40px);
    }
}