.container-payment {
    min-height: 95vh;
}

.content-box-1 {
    width: 90%;
    margin: 0px auto;
    padding: 20px;
}

.left-side {
    background-color:var(--blanco-shuncos);
    border: 1px solid var(--azul-shuncos);
}

.content-box-2 {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--azul-shuncos);
    background-color: var(--blanco-shuncos);
}

.right-side {
    background-image:linear-gradient(rgba(8, 8, 8, 0.263), rgba(8, 8, 8, 0.758)), url("../assets/img/pattern.png");
    background-size: cover;
    background-position: center;
}

.detalles-envio {
    color:black ;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.ingrese-datos {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}


#exampleFormControlTextarea1 {
    margin-bottom: 1rem;
}


.cupon-container {
    display: flex;
    margin: 1rem 0px;
    align-items: center;
}

.cupon-input {
    padding: 8px;
    font-size: 16px;
    margin-right: 20px;
}

.price-row{
    display: flex;
    justify-content: space-between;
}

.total {
    font-weight: 500;
}

.send-btn-div {
    display: flex;
    justify-content: center;
}

#cupon-input {
    border: 1px solid var(--rosa-shuncos);
    border-radius: 10px 0 0 10px;
}

.cupon-buttons {
    box-shadow: none;
    border: 1px solid var(--rosa-shuncos);
    border-radius: 0 10px 10px 0!important;
    color: white;
    border-color: var(--rosa-shuncos);
    background-color: var(--rosa-shuncos);
    outline: none;
    padding: 0.5em 1em;
}

.cupon-buttons:active {
    transform: translateX(-0.1em);
}

#cupon-btn-2{
    display: none;
}

@media (max-width: 768px) { 
    #cupon-btn-1{
        display: none;
    }
    #cupon-btn-2{
        display: initial;
    }
 }


.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 115, 180, 0.25);
}

.form-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 115, 180, 0.25);
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 115, 180, 0.25);
}

.form-check-input:checked {
    border-color: var(--verde-shuncos);
    background-color: var(--verde-shuncos);
}

.form-control {
    border-radius: 20px;
}

.form-select {
    border-radius: 20px;
}

.left-symbol {
    border-radius: 20px 0 0 20px;
}

.right-symbol {
    border-radius: 0 20px 20px 0!important;
}




