/*Estilos para el botón de "Modificar"*/
.btn-modify, .btn-cancel {
    outline: none;
    color: #ffffff;
    padding: 0.4em;
    padding-left: 2em;
    padding-right: 2em;
    border: 2px dashed #ffffff;
    border-radius: 15px;
    background-color: var(--azul-shuncos);
    box-shadow: 0 0 0 4px var(--azul-shuncos), 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
  }
  .btn-modify:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px var(--azul-shuncos), 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
  }
  .btn-cancel:active{
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px var(--azul-shuncos), 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
  }
   /*Estilos del boton "Guardar Cambios" dentro del modal 'Modificar'*/
  .btn-save{
    outline: none;
    color: #ffffff;
    padding: 0.4em;
    margin-left: 1rem;
    padding-left: 2em;
    padding-right: 2em;
    border: 2px dashed #ffffff;
    border-radius: 15px;
    background-color: var(--verde-shuncos);
    box-shadow: 0 0 0 4px var(--verde-shuncos), 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
  }
  .btn-save:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px var(--verde-shuncos), 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
  }
/*Estilos para el botón "Dar de baja mi cuenta" y "cerrar" dentro del modal */
  .btn-delete, .btn-cerrar{
    outline: none;
    color: #ffffff;
    padding: 0.4em;
    margin-left: 1rem;
    padding-left: 2em;
    padding-right: 2em;
    border: 2px dashed #ffffff;
    border-radius: 15px;
    background-color: var(--rosa-shuncos);
    box-shadow: 0 0 0 4px var(--rosa-shuncos), 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
  }
  .btn-delete:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px var(--rosa-shuncos), 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
  }
  .btn-cerrar:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px var(--rosa-shuncos), 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
  }
