body{
    background-color: var(--blanco-shuncos);
    margin: 0;
}

.bg-img-1 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.263), rgba(8, 8, 8, 0.758)),url("../assets/img/bannerazulmuertos2.jpeg");
}

.bg-img-2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.263), rgba(8, 8, 8, 0.758)), url("../assets/img/bannerrosa1.jpeg");
}

.bg-img-3 {
    background-image: linear-gradient(rgba(104, 146, 223, 0.241), rgba(8, 8, 8, 0.864)), url("../assets/img/fondo-muertos-2.jpeg");
}

.carrousel-img {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.imagen {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.texto {
    color: var(--blanco-shuncos);
    text-align: center;
    padding: 50px;
    position: relative;
    z-index: 1;
    text-shadow: black 0 0 10px;
}