@import url(../styles/mainContainerStyles.css);

.hero {
    background-image: url(../assets/img/portada4.jpeg);
    height: 15rem;
    background-size: contain;
    background-repeat: repeat-x;
    position: relative;
} 

@media(min-width: 768px){
    .hero {
        height: 25rem ;
    }
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
}

.hero-title {
    font-weight: bolder;
}

.shop {
    margin-top: 2rem;
    font-style: var(--monse-font);
}

.section-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
}

.product-box {
    padding: 20px;
}


.product-card {
    background-color: var(--blanco-shuncos);
}

.product-hover:hover {
    padding: 1rem!important;
    transition: 0.4s;
    background-color: var(--blanco-shuncos);  
    cursor: pointer;  
}

.img-producto img {
    width: 12rem;
    height: 15rem;
    margin-bottom: .5rem;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.info-producto {

}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.add-carrito {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    background-color: black;
    color: white;
}

.add-carrito:hover {
    background-color: var(--amarillo-shuncos);
    color: black;
    transition: 0.5s;
}

#agregar-carrito {
    width: 100%;
}

@media (min-width: 768px){
    #agregar-carrito {
        width: fit-content;
    }
}